   <%- include('header')%>
   
    <h2>Open roles:</h2>

    <div>
        <h3>Engineering Team</h3>
        <ul>
            <li><a href="vaga">FullStack Developer (Remote)</a></li>
        </ul>
        
        <h3>Marketing Team</h3>
        <ul>
            <li>Digital Marketing (San Franciso)</li>
        </ul>
    </div>

    <%- include('footer')%>  

