body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

p {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 16px;
}

li {
  margin-left: 0;
}

h2 {
  background-color: #c4c4c4;
  padding: 8px;
  font-size: 24px;
}

h3 {
  font-weight: 24px;
}

label {
  display: block;
  margin: 20px 0 4px 0;
}

input,
select {
  display: block;
  padding: 4px;
  width: 540px;
}

textarea {
  padding: 8px;
  width: 540px;
  height: 150px;
}

button {
  padding: 12px;
}
